#################################################
# Base configuration
#################################################

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  CCACHE_SIZE: 2G
  ## Enable B2BUA and internal MbedTLS
  DEFAULT_CMAKE_OPTIONS: '-DCMAKE_BUILD_TYPE=RelWithDebInfo'
  DEFAULT_MACOS_CMAKE_OPTIONS: ''
  PACKAGING_EXTRA_CMAKE_OPTIONS: '-DCMAKE_INSTALL_PREFIX=/opt/belledonne-communications -DSYSCONF_INSTALL_DIR=/etc -DFLEXISIP_SYSTEMD_INSTALL_DIR=/lib/systemd/system'

  # Docker image version
  ARCHLINUX_IMAGE_VERSION: 20220414_remove_ffmpeg
  CENTOS_7_IMAGE_VERSION: 20220112_add_libasan
  CENTOS_8_IMAGE_VERSION: 20211004_remove_hiredis
  DEBIAN_9_IMAGE_VERSION: 20220323_add_jsoncpp
  DEBIAN_10_IMAGE_VERSION: 20220413_fix_mariadb_autostart
  DEBIAN_11_IMAGE_VERSION: 20220421_add_jsoncpp
  UBUNTU_18_04_IMAGE_VERSION: 20220323_add_jsoncpp
  UBUNTU_ROLLING_IMAGE_VERSION: 20210624_packaging

before_script:
  - git submodule foreach --recursive git fetch --tags

#################################################
# Platforms to test
#################################################

include:
  - '.gitlab-ci-files/job-linux.yml'
  - '.gitlab-ci-files/job-linux-archlinux.yml'
  - '.gitlab-ci-files/job-linux-centos7.yml'
  - '.gitlab-ci-files/job-linux-centos8.yml'
  - '.gitlab-ci-files/job-linux-debian9.yml'
  - '.gitlab-ci-files/job-linux-debian10.yml'
  - '.gitlab-ci-files/job-linux-debian11.yml'
#  - '.gitlab-ci-files/job-linux-ubuntu-rolling.yml'
  - '.gitlab-ci-files/job-linux-ubuntu-18.04.yml'
  - '.gitlab-ci-files/job-macosx.yml'



stages:
 - build
 - test
 - package
 - image
 - deploy
